.container-home{
    height: 40rem;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.name_icons h1{
    font-size: 48px;
    font-weight: bolder;
}

.name_icons a{
    padding: 1rem;
    text-decoration: none;
    color: black;
    margin-left: 6rem;
}

.img-home{
    height: 30rem;
    width: 30rem;
    margin-right: 5rem;
}