header{
    height: 6rem;
    width: 100%;
    background: #FFFFFF;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    position: sticky;
    top: 0;
    z-index: 9;
}

header img{
    height: 6rem;
    width: auto;
    cursor: pointer;
}

.nav-list ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.nav-list a{
    text-decoration: none;
    color: black;
    padding: 0 15px;

    font-size: 30px;
    font-weight: bold;

    
}
.nav-list a:hover{
    color: #6a6565;
}




@media (max-width: 640px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 8px;

    }

    .nav-list ul{
        display: flex;
        flex-direction: column;
        padding: 4px;
    }
        .nav-list a{
            padding: 4px;
        }

}